# telegram-mqtt-bridge config file
############################i##########

#Note there should be no "" around strings

# Telegram parameters
TELEGRAM_BOT_TOKEN = <Your telegram bot token>
CHAT_ID = <Your Chat ID> 

# MQTT parameters
MQTT_BROKER = <Your MQTT broker IP or hostname - can be localhost>
MQTT_PORT = <Your MQTT port number>
MQTT_USERNAME = <your MQTT username> 
MQTT_PASSWORD = <your MQTT user's password>

# general parameters
# May jsut get the callsign and grid from js8call in the future, but need them for now
MY_CALLSIGN = <Your callsign>
MY_GRID = <Your grid>

